# Cấu hình Server
PORT=3000
NODE_ENV=development

# Cấu hình Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=electronics_store
DB_USER=postgres
DB_PASSWORD=1234
DATABASE_URL=postgresql://postgres:1234@localhost:5432/electronics_store

# JWT Secret Key (Thay đổi thành key bảo mật của bạn)
JWT_SECRET=loIh+m38FWadbiVhQGzLqTGdiJSnZWDYQLjqPee1347iODKxPVYLXha7lAcLoNyQIs+1RJWMECwuJicmLr7HFQ==

# Cấu hình Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880

# Cấu hình Email (tùy chọn)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_password 